<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
  <section class="">
    <h3 class="text-uppercase text-center fw-bold mb-4">Contact</h3>
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <p><a href="#"><i class="fa-brands fa-linkedin me-3"></i>linkedin.com/in/RodriguesFundo</a></p>
          <p><a href="#"><i class="fa-brands fa-github me-3"></i>github.com/RodriguesFundo</a></p>
          <p><a href="#"><i class="fa-brands fa-facebook me-3"></i>facebook.com/rodrigues.domingos.92</a></p>
          <p><a href="#"><i class="fa-brands fa-instagram me-3"></i>instagram.com/rodrigues_fundo</a></p>
        </div>
        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <p><i class="fas fa-home me-3"></i> Matola, Vale do Infulene</p>
          <p><i class="fas fa-envelope me-3"></i>rodriguesdomingosf@gmail.com</p>
          <p><i class="fas fa-phone me-3"></i> +258 84 26 88 078</p>
          <p><i class="fas fa-phone me-3"></i> +258 87 75 8</p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->
</footer>
<!-- Footer -->
