<header class="text-center text-white p-5 masthead">
  <app-navbar></app-navbar>
  <div >
    <div class="p-5">
      <img style="width: 250px;" class="img-fluid d-block mx-auto my-5" src="assets/img/mainCut.png"/>
    </div>
    <div class="p-5">
      <h1>Rodrigues Fundo</h1>
      <br>
      <hr class="star-light" />
      <br>
      <h4 class="font-weight-light mb-1">Hi, i'm a student of software 's development... Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio vitae quas at odio iure! Rerum quas facilis iusto quam expedita voluptatem? Tenetur exercitationem vero aspernatur facilis sed, dolor nisi perferendis!</h4>
    </div>
  </div>
</header>
